//- title
- var PageTitle = '문서제목'



//- css, js
//- 플러그인의 경우 bower 를 통해설치후 복사해서 사용
//- css 의 경우 병합하거나 따로 사용하기도 한다
//- javascript 는 plugins 에 병합

//- stylesheet
- var nanumgothic = false
- var jqueryUi = false
- var bootstrap = true
- var bxslider = false
- var magnificPopup = false
- var modernizr = false
- var site = true


//- javascript
- var jQuery = true
- var plugins = true
- var site = true


//-  html 영역에 대한 설정
- var banner = true

