//- 폰트, 플러그인, 사이트 스타일시트
//- 해당 플러그인을 플러올때만 사용할 수 있다.


//- 나눔고딕웹폰트
if nanumgothic
	<link rel='stylesheet' href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css'>

//- plugins

//- jquery ui
if jqueryUi
	link( rel='stylesheet', href='http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.min.css' )

//- bootstrap
if bootstrap
	link( rel='stylesheet', href='/css/bootstrap.min.css' )

//- bsSlider
if bsSlider
	link( rel='stylesheet', href='/css/jquery.bxslider.min.css' )

//- magnificPopup
if magnificPopup
	link( rel='stylesheet', href='/css/magnific-popup.min.css' )

//- site
if site
	link( rel='stylesheet', href='/css/site.min.css' )

//- modernizr
if modernizr
	<script src='/plugins/modernizr/modernizr.min.js'></script>